---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Local theme modules
@use "variables" with (
  $max-content-width: {{ site.max_width }}
);
@use "themes";
@use "layout";
@use "base";
@use "distill";
@use "cv";
@use "tabs";
@use "typograms";

// Vendor modules
@use "font-awesome/fontawesome" with (
  $fa-font-path: "../webfonts"
);
@use "font-awesome/brands" with (
  $fa-font-path: "../webfonts"
);
@use "font-awesome/solid" with (
  $fa-font-path: "../webfonts"
);
@use "font-awesome/regular" with (
  $fa-font-path: "../webfonts"
);
@use "tabler-icons/tabler-icons" with (
  $ti-font-path: "../fonts"
);
@use "tabler-icons/tabler-icons-filled" with (
  $ti-font-path: "../fonts"
);
@use "tabler-icons/tabler-icons-outline" with (
  $ti-font-path: "../fonts"
);
